<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="93" android:versionName="2.1.4" package="com.douban.radio"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="14" />
    <supports-screens android:anyDensity="true" android:smallScreens="true" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="true" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name="com.douban.radio.RadioApp">
        <meta-data android:name="UMENG_APPKEY" android:value="4cc7949a3ea7a361e91a5486" />
        <meta-data android:name="UMENG_CHANNEL" android:value="Douban" />
        <meta-data android:name="DBLOG" android:value="false" />
        <meta-data android:name="source" android:value="mobile" />
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name="com.douban.radio.app.WelcomeActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@android:style/Theme.NoTitleBar" android:label="@string/app_name" android:name="com.douban.radio.app.RadioActivity" android:launchMode="singleTask" android:screenOrientation="portrait" android:hardwareAccelerated="true" />
        <activity android:label="@string/login_title" android:name="com.douban.radio.app.LoginActivity" android:launchMode="standard" />
        <activity android:label="@string/channel" android:name="com.douban.radio.app.ChannelSelector" android:launchMode="standard" />
        <activity android:label="@string/settings_title" android:name="com.douban.radio.app.SettingActivity" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:label="@string/feedback" android:name="com.douban.radio.app.Feedback" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:theme="@style/DoubanTheme.Dialog" android:label="@string/settings_title" android:name="com.douban.radio.app.AlarmSetting" android:launchMode="singleTop" android:screenOrientation="portrait" />
        <activity android:label="@string/sina_login" android:name="com.douban.radio.app.FMSinaAuth" android:launchMode="standard" />
        <activity android:label="@string/share_auth_title" android:name="com.douban.radio.app.FMShareAuth" android:launchMode="standard" />
        <activity android:theme="@android:style/Theme.Translucent.NoTitleBar" android:label="@string/share" android:name="com.douban.radio.app.ShareActivity" android:launchMode="singleTask" android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:theme="@style/DoubanTheme.Dialog" android:label="@string/app_name" android:name="com.douban.radio.app.Warning" android:excludeFromRecents="true" android:launchMode="singleInstance" />
        <activity android:label="@string/register_button" android:name="com.douban.radio.app.RegisterActivity" android:screenOrientation="portrait" />
        <activity android:label="@string/about" android:name="com.douban.radio.app.AboutActivity" android:screenOrientation="portrait" />
        <service android:name="fm.douban.service.RadioService" android:exported="false" />
        <receiver android:label="@string/widget_small" android:name="com.douban.radio.widget.WidgetSmall">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.douban.radio.intent.RADIO_STATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_small" />
        </receiver>
        <receiver android:label="@string/widget_large" android:name="com.douban.radio.widget.WidgetLarge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.douban.radio.intent.RADIO_STATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_large" />
        </receiver>
    </application>
</manifest>
